* {
    margin:0;
    box-sizing: border-box;
    padding-inline-start: 0px;
 }

%widthHr {

    width: 50%;

}

 $redes: (

        text-decoration: none,
        font-size: 20px,
        width: 40px,
        height: 40px,
        line-height: 40px,
        text-align: center,
        background: #323332,
        color: #ffffff,
        border-radius: 50%,
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
        transition: all .4s ease-in-out,
        margin-left: 3%,
        margin-right: 3%,
        margin-top: 5%,
);

.redes a {
    content: map-get($redes, key);
}

.hr {

    margin-bottom: 10px;
    color: $colorContraste;
    margin-left: 25%;


        @mixin widthHr {

            @extend %widthHr
            
        }

 }

 

 .subtitulo {

    letter-spacing: 0.1em;
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color:rgb(50, 51, 50)
    
}


.subtituloDos {

    letter-spacing: 0.01em;
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 10px;

}


.tituloDos {

    font-family: "Arial Black", Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 7px;
    letter-spacing:0.222222em;
    color: rgb(50, 51, 50);

}

